<div class="large-5 medium-8 small-11 columns small-centered medium-centered large-centered" style="margin-top: 13px;">

  <h4 class="text-center">
    Oops!
  </h4>

  <h2 class="text-center" style="font-weight:600; color: #e91e63">
    404
  </h2>

  <h5 class="text-center" style="margin-bottom: 21px;">
    <em>
      Page Not Found
    </em>
  </h5>

  <a routerLink="/login" class="button hollow large expanded alert msu1 expanded">
    <i class="fa fa-fast-backward" aria-hidden="true" style="margin-right:21px;"></i>
    Back to Login
  </a>

</div>
